{% extends 'base.html' %}

{%load static%}
{% block content %}
<br>
<br>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <center>
    <form action='{% url 'signin' %}' method='POST' autocomplete='off'>
      {% csrf_token %}
        <div class="form-outline mb-4">
          <input type="text" name="username" class="form-control" required/>
          <label class="form-label" for="form2Example1">User Name</label>
        </div>
      
        <div class="form-outline mb-4">
          <input type="password" name="password" class="form-control" required/>
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
       
      
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button><br>
        <label style="color:red">{{message}}</label>

        <div class="text-center">
          <p>Sign in with : <a href="/smslogin">SMS-OTP</a></p>
          <p>Not a member? <a href="/register">Register</a></p>
          <center>
          <a href='/adminlogin'> ADMIN-LOGIN</a>
          <center>
          
        </div>
      </form>
</div>
{% include 'footer.html' %}

{% endblock %}