{% extends 'base.html' %}

{%load static%}
{% block content %}
<br>
<br>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <center>
    <form action='/registerverification/' method='POST' autocomplete='off'>
      {% csrf_token %}

        <div class="form-outline mb-4">
          <input type="number" name="otp" class="form-control" required/>
          <label class="form-label" for="form2Example1">OTP</label>
        </div>
      <br>
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button><br>
        <label style="color:red">{{message}}</label>
      
        <div class="text-center">
          <p>Sign in with : <a href="/resendotp/">Resend OTP</a></p>
          
        </div>
      </form>
</div>

{% endblock %}